[submodule "_drafts"]
	path = _drafts
	url = git@bitbucket.org:sebastian_carroll/_drafts.git
[submodule "jekyll-rakefile"]
	path = jekyll-rakefile
	url = git@github.com:SebastianCarroll/jekyll-rakefile.git
